body {
    margin: 2%;
    padding: 2%;
    font-family: 'Raleway', sans-serif;
    --purple: #8f0fd4;
    --yellow: #fcdd14;
    --offwhite: #ffee8227;
    color: var(--purple);
}

p {
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: var(--purple);
}

ul li a {
    color: var(--purple);
}

li {
    color: var(--purple);
    padding: 0.2%;

}

table {
    background-color: var(--offwhite);
}